# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Data / caches
data/
raw_data/
runs/
*.csv
*.tsv

# Models / weights (we’ll handle with LFS)
models/checkpoints/
runs/detect/
*.pt
*.pth
*.onnx
*.safetensors

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build
dist/
build/

# keep everything ignored by default…
models/checkpoints/*
runs/**

!models/checkpoints/plant_id_resnet18_best.pth
!runs/detect/train/
!runs/detect/train/weights/
!runs/detect/train/weights/best.pt